// making the video player responsive

// design the video player nicely


    video {
        width: 35%;
        margin-left:40px;
        height: auto;
        margin-top: 20px;
        // rounded corners
        border-radius: 10px;
    }


    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #head1 {
        font-size: 20px;
        font-weight: 600;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #ffffff;
        background-color: #35006e;
        padding: 20px;
        border-radius: 40px;
    }

  
   
    .nav-link {
        font-weight: 550;
        font-size: 20px;
    }