<!-- audio component -->
 <div class="audioComp">
        <h2 class="audio11">Welcome to Audio Component</h2>
</div>
<div class="videobox">
    <div class="video-wrapper">
    <!-- linking audio file -->
    <audio id="audio" src="/asset/audio/audio1.mp3" controls>
        <track default kind="captions" srclang="en" src="/asset/audio_subtitle/audio2vtt.vtt" />
    </audio>
      <button class="transcript-btn">Show Transcript</button>
</div>
        <div class="box1">
            <p class="main11">Our accessibility app features an audio component with easy-to-use controls that allow users to play and pause the audio, adjust the volume, and skip ahead or back. Additionally, the app includes a "Show Transcript" button that displays the transcript of the audio content on the screen. This feature is especially useful for users who are deaf or hard of hearing, or for those who prefer to read the content instead of listening to it. With these features, our app aims to provide an inclusive and accessible experience for all users.<p>
        </div>

      <section class="transcript hidden">
        <h3 class="hidden">Transcript</h3>
        <blockquote class="blockquote text-center">
        <p class="mb-0">
            <p>Some call me nature. </p>
            <p>Others call me “Mother Nature.” </p>
            <p>I’ve been here for over 4.5 billion years. </p>
            <p>22,500 times longer than you. </p>
            <p>I don’t really need people. </p>
            <p>But people need me. </p>
            <p>Yes, your future depends on me. </p>
            <p>When I thrive, you thrive. </p>
            <p>When I falter, you falter. Or worse. </p>
            <p>But I’ve been here for eons. </p>
            <p>I have fed species greater than you. </p>
            <p>And I have starved species greater than you. </p>
            <p>My oceans. My soil. My flowing streams. My forests. They all can take you. Or leave you. </p>
            <p>How you choose to live each day, whether you regard or disregard me, doesn’t really matter to me. </p>
            <p>One way. Or the other. </p>
            <p>Your actions will determine your fate. Not mine. </p>
            <p>I am nature. </p>
            <p>I will go on. </p>
            <p>I am prepared to evolve. </p>
            <p>Are you?</p>
        </p>
        </blockquote>
    </section>
</section>
