<!-- this is our index page, which is the default page -->

<!-- the main component will be here -->

<!-- here it will show two button, one for audio component and one for video component -->

<!-- title of the page -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="hidden">Hidden</h1>
<section class="main">
    <h2 class="Research">AV Research</h2>
    <nav id="navbar">
        <!-- navbar -->
        <ul id="navbarMenu" class="navbar1">
            <li><a href="index.html">Home</a></li>
            <li><a href="audio.html">Audio</a></li>
            <li><a href="video.html">Video</a></li>
        </ul>
    </nav>
        
        <section id="mainApp">
            <h2 class="main">
                Welcome to Audio Video Accessibilty Research
            </h2>
            <p class="main">
                The Audio and Video Component you are seeing below are accessible to all users. You can try to use the keyboard to navigate through the page as well as the mouse. Just click on the buttons below to see the components.
            </p>
        </section>

</body>
</html>