<div class="text">
   The video component of this app allows you to explore accessibility features such as keyboard controls and captions. You can use the keyboard to control the video player, including functions like play, pause, and seeking to different points in the video. This can be especially helpful for users who have difficulty using a mouse. Additionally, you can access captions for the video by clicking the 'Caption' button located below the video player. This button will toggle the visibility of the captions, allowing users to read along with the spoken content. These features can help ensure that your video content is accessible to all users, regardless of their abilities.
</div>


    <div class="video-wrapper">
      <video id="video-player" class="video-player" controls crossorigin>
        <source src="/asset/video/video1.mp4" type="video/mp4">
           <track  default kind="captions" srclang="en" src="/asset/video_subtitle/subtitle1.vtt" />
      </video> 
    </div>
    <!-- Ion icon for cc -->
        <button class="captions"  data-button="0" aria-label="Toggle Video Captions">CAPTION<i class="icon ion-ios-closed-captioning"></i></button>

